
/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Montserrat:wght@300;500&family=Poppins:wght@200;300;400;500;600;700&display=swap');

body {
    background-image: url(photo/picture3.png);
    background-size: cover; /* ทำให้รูปครอบคลุมเต็มหน้าจอ */
    background-position: center; /* ทำให้รูปอยู่ตรงกลาง */
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    height: 100vh;
    /*vh stand for viewpiont height*/
}

button {
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 36px;
    transition: .3s ease;
    transition-property: background-color, color;
    margin: 0;
    box-sizing: border-box;
}


.massage {
    text-align: center;
}