body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    background-color: #0e0e0e;
    font-family: cursive;
}

h2,
h3{
    text-align: center;
    color: #4dda2d;
   
}

h2 {
    font-size: 4em;
}

h3 {
    text-align: center;
    color: #216312;
}
strong {
    color: #4dda2d;
}
p {
    text-align: center;
}

.img {
    display: flex;
    /*responsive design*/
    align-items: center;
    /*vertically*/
    justify-content: center;
    /* Center horizontally */
    margin: 20px;
}

header {
    background-color: #216312;
    padding: 10px 0;
    text-align: right;
    position: fixed;
    width: 100%;
    /*full lenght of screen*/
}

nav ul li {
    display: inline;
    /*no line break (make it in the same line)*/
    margin: 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    /*remove the underline*/
}

li {
    font-size: x-large;
}

nav ul li a:hover {
    background-color: #56d309;
    padding: 10px;
    /*space between text and border*/
    margin: 5px;
    /*space outside */
    border-radius: 50px;
    /*make border round*/
}

#about {
    align-items: center;
    padding: 100px;
    color: #f4f4f4;
    background-color: #212121;
    height: 100vh;
    /*viewpoint hight*/
}

section {
    padding: 20px;
    margin: 0;
}

.certificate-container {
    display: flex;
    flex-wrap: wrap;
    /*item move when the line are not enough space to contain*/
}

.certificate {
    flex: 1;
    background: #ccc;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    border: 4px solid #216312;
    color: #212121;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #216312;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}

.contact {
    display: flex;
    flex-direction: column;
    /*center in both way*/
}

.social a {
    font-size: 35px;
    /*icon size*/
    margin: 0.5rem;

}

.social a .bx {
    padding: 10px;
    color: #216312;
    background: #ccc;
    border-radius: 30%;
}

.social a .bx:hover {
    background: #212121;
}

.contact p {
    font-size: 1.2em;
    text-align: center;

}